*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    color: #eee;
}

.form_mesas::placeholder{
    color: #117864;
    font-size: 15px;
}

input:focus::placeholder{
    color: transparent;
}

.form_mesas{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: 700px;
    margin-top: 100px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    box-shadow: 7px 13px 37px #000;
}

.form_mesas h2{
    font-size: 22px;
    margin-bottom: 20px;
}

.content-clients{
    width: 50%;
    border: solid 1px black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.controls_for_mesas{
    width: 100%; 
    color: #fff;
    background: #0000;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.form_mesas p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 400px;
}

/*

*/