<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="stylesheet" href="/proyecto_app/styles/menu_naveg.css" />
    <link rel="stylesheet" href="/proyecto_app/styles/style.css" />
    <link rel="stylesheet" href="/proyecto_app/styles/mapa.css" />
    <title>CheckBook</title>
  </head>

  <body>
    <ul class="form_naveg">
      <li><a href="../index.html">Inicio</a></li>
      <li><a href="../views/registro.html">Regístrate</a></li>
      <li><a href="../views/reservar_mesa.html">Reservar</a></li>
      <li><a href="../views/gestion_mesas.html">Gestiona mesas</a></li>
      <li><a href="../views/search_mapa.html">Buscar reserva</a></li>
    </ul>

    <section class="mapa">
      <div class="form_registro">
        <h2>Buscar disponibilidad</h2>
        <form id="buscar_reserva">
          <input
            class="controls"
            type="date"
            name="fecha"
            autocomplete="off"
            placeholder="Fecha"
          />
          <input
            class="controls"
            type="time"
            name="hora"
            autocomplete="off"
            placeholder="Hora"
          />
          <input class="botones" type="submit" value="Buscar reserva" />
        </form>
        <div class="grid-container" id="mapa"></div>
      </div>
    </section>

    <script src="../controllers/clients/get.js"></script>
    <script src="../controllers/mesas/get.js"></script>
    <script src="../controllers/reservas/get.js"></script>
    <script src="../controllers/reservas/search.js"></script>

    <script src="../index.js"></script>

    <!--<script src="controllers/clients/post.js"></script>
    <script src="controllers/clients/update.js"></script>
    <script src="controllers/clients/delete.js"></script>

    <script src="controllers/mesas/post.js"></script>
    <script src="controllers/mesas/update.js"></script>
    <script src="controllers/mesas/delete.js"></script>

    <script src="controllers/reservas/post.js"></script>
    <script src="controllers/reservas/update.js"></script>
    <script src="controllers/reservas/delete.js"></script>
    -->
  </body>
</html>
