body{
    background-color: #5D6D7E;
    background-size: cover;   
}

h1{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.form_registro::placeholder{
    color: #7F8C8D;
    font-size: 15px;
}

input:focus::placeholder{
    color: transparent;
}

.fecha_nacimiento {
    display: none;
}

select::-ms-expand {
    padding: 100px;
    color: red;
    background-color: red;
}

.form{
    width: 50%;
    border: solid 1px black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.form_registro{
    background: #24303c;
    padding: 30px;
    margin: 85px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    box-shadow: 7px 13px 37px #000;
}

.form_registro h2{
    font-size: 22px;
    margin-bottom: 20px;
    color: #ECF0F1;
}

.content{
    width: 100%;
    display: flex;
    flex: 1;
}

.controls{
    width: 100%; 
    color: #ECF0F1;
    background: #0000;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.form_registro .botones{
    width: 100%;
    margin: 1px;
    background-color: transparent;
    font-weight: semibold;
    color: #eee;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border: 2px solid #117864;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease;
}

.form_registro .botones:hover{
    box-shadow: .1rem .1rem 1rem #117864;
    box-shadow: -.1rem -.1rem 5rem #117864;
}

.form_registro .botones:active{
    box-shadow: inset .2rem .2rem 1rem #1E8449;
}

.content-row{
    justify-content: space-between;
    border-radius: 10px;
    border: 2.5px solid #1f53c5;
    display: flex;
    align-items: center;
    background: #27AE60;
    margin-top: 4px;
    padding: 5px;
}

.content-row p{
    color: #000;
}

.content-row button{
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 3px 5px;
    border-radius: 30px;
    color: #000;
    letter-spacing: 0.3px;
    font-size: 13px;
    overflow: hidden;
    text-decoration: none;
    transition: 0.2s;
}

.content-row button:hover{
    background: #E74C3C;
    box-shadow: 0 0 10px #E74C3C, 0 0 10px #E74C3C, 0 0 20px #E74C3C;
    transition-delay: 0.1s;
}

.list{
    width: 50%;
    padding: 10px;
    margin: 10px;
}